.product-thumb {
    width: 100%;
    height: 180px;
    overflow: hidden;
    background:#f2f2f2;
    display:flex;
    align-items:center;
    justify-content:center;
}

.product-thumb img {
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}
